@import 'onezone-datepicker-variables';
.onezone-datepicker {
    position: relative;
    width: 100%;
    display: block;
    background-color: $datepicker-background-color;
    color: $datepicker-font-color;
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s;
}

.onezone-datepicker.onezone-datepicker-show {
    max-height: 600px;
    border-bottom: 2px solid $datepicker-bottom-border-color;
}

.onezone-datepicker-modal {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.9)
}

.onezone-datepicker-loader {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -10px;
}

.onezone-datepicker-loader svg {
    width: 20px;
    height: 20px;
}

.onezone-datepicker-button {
    position: relative;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: $datepicker-font-color;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 8px 0;
    border-bottom: 1px solid $datepicker-active-color;
    padding: 5px;
}

.onezone-datepicker-button:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-bottom: 6px solid $datepicker-active-color;
    border-left: 6px solid transparent;
}

.onezone-datepicker-select-year {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 25%;
}

.onezone-datepicker-navigation-arrow {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    color: $datepicker-active-color;
    text-align: center;
    width: 24px;
    padding-top: 10px;
    line-height: 24px;
}

.onezone-datepicker-week {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
    border-bottom: 1px solid $datepicker-disabled-color;
    padding: px 0;
}

.onezone-datepicker-day {
    @include border-radius(100%);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 29px;
    border: 2px solid $datepicker-background-color;
}

.onezone-datepicker-current-day {
    border: 2px solid $datepicker-disabled-color;
}

.onezone-datepicker-disable-day,
.onezone-datepicker-different-month.onezone-datepicker-disable-day {
    color: $datepicker-disabled-color;
}

.onezone-datepicker-different-month {
    color: $datepicker-different-month-color;
}

.onezone-datepicker-active-day,
.onezone-datepicker-active-day:hover {
    border: 2px solid $datepicker-active-color;
    font-weight: bold;
}

.onezone-datepicker-selection-button {
    color: $datepicker-active-color;
    font-size: 34px;
    padding-top: 5px;
    display: inline-block;
    cursor: pointer;
    width: 40px;
}

.onezone-datepicker-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    font-size: 28px;
    cursor: pointer;
    color: $datepicker-font-color;
    width: 50px;
    text-align: right;
}

.onezone-datepicker-modal-content {
    position: relative;
    padding: 50px 5px 40px 5px;
}

.onezone-datepicker-modal-content .slider {
    position: initial;
}

.onezone-datepicker-modal-content:after {
    content: "";
    display: table;
    clear: both;
}

.onezone-datepicker-modal-item {
    display: block;
    float: left;
    width: 25%;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.onezone-datepicker-modal-item.onezone-datepicker-modal-item-active {
    background-color: $datepicker-active-color;
    color: $datepicker-modal-color;
    font-weight: bold;
}